[submodule "course_service"]
	path = course_service
	url = https://github.com/IT-REX-Platform/course_service.git
[submodule "content_service"]
	path = content_service
	url = https://github.com/IT-REX-Platform/content_service.git
[submodule "media_service"]
	path = media_service
	url = https://github.com/IT-REX-Platform/media_service.git
[submodule "user_service"]
	path = user_service
	url = https://github.com/IT-REX-Platform/user_service.git
[submodule "graphql_gateway"]
	path = graphql_gateway
	url = https://github.com/IT-REX-Platform/graphql_gateway.git
[submodule "gits-frontend"]
	path = gits-frontend
	url = https://github.com/IT-REX-Platform/gits-frontend.git
[submodule "flashcard_service"]
	path = flashcard_service
	url = https://github.com/IT-REX-Platform/flashcard_service.git
